.App {
  margin: 1em 0.6em;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -0.3em;
}

.weather-item {
  flex: 1 100%;
  background-image: repeating-linear-gradient(
    45deg,
    hsl(220, 13%, 18%),
    hsl(220, 13%, 18%) 0.8em,
    hsl(220, 13%, 15%) 0.8em,
    hsl(220, 13%, 15%) 1.6em
  );
  padding: 0.3em;
  margin: 0.3em;

  box-shadow: 0 0.15em 0.45em hsla(0, 0%, 0%, 12%),
    0 0.15em 0.3em hsla(0, 0%, 0%, 24%);

  color: hsl(220, 13%, 95%);
  border-radius: 0.5em;
}

.weather-item-empty {
  background-image: inherit;
  box-shadow: inherit;
}

.weather-values {
  margin-top: 0.2em;
}

.time {
  border-bottom: 0.15em solid hsla(220, 19%, 74%, 0.2);
  padding-bottom: 0.2em;
  text-align: center;
}

.forecast-date {
  margin-top: 1em;
}

.temperature {
  white-space: nowrap;
  text-align: center;
}

.temperature-number {
  font-size: 1.8rem;
  font-weight: bold;
}
.temperature-degree {
  font-size: 0.8rem;
  position: relative;
  top: 0.3rem;
  vertical-align: top;
}

.light-text {
  color: hsl(220, 19%, 74%);
}

.warning-text {
  color: hsl(0, 100%, 82%);
}

@media all and (min-width: 410px) {
  .weather-item {
    flex: 1 0 0;
  }
}

@media all and (max-width: 409px) {
  .weather-item-empty {
    display: none;
  }
}

.status-message {
  position: absolute;
  top: 0;
  background-color: hsla(60, 100%, 50%, 0.8);
  left: 0;
  right: 0;
  text-align: center;
  padding: 0.1em;
}

.button {
  padding: 0.5em;
}
